*{margin: 0; padding: 0;}
a{text-decoration: none; color: aliceblue;}
.a1:hover{border: 2px solid black;}
.a2:hover{border: 2px solid black;}
.a3:hover{border: 2px solid black;}
.a4:hover{border: 2px solid black;}
.a5:hover{border: 2px solid black;}
#bgground{
    height: 770px;
    width: 100%;
    background-image: url(Images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.icon1{height: 70px;width: 70px;border: 2px dashed blue;border-radius: 50%;}
.icon2{height: 70px;width: 70px;border: 2px dashed blue;border-radius: 50%;}
.icon3{height: 70px;width: 70px;border: 2px dashed blue;border-radius: 50%; }
.caa1:hover{transform: scale(1.1);transition: all;transition-duration: 1s;transition-delay: 0s;}
.caa2:hover{transform: scale(1.1);transition: all;transition-duration: 1s;transition-delay: 0s;}
.caa3:hover{transform: scale(1.1);transition: all;transition-duration: 1s;transition-delay: 0s;}
.caa4:hover{transform: scale(1.1);transition: all;transition-duration: 1s;transition-delay: 0s;}
.caa5:hover{transform: scale(1.1);transition: all;transition-duration: 1s;transition-delay: 0s;}
.caa6:hover{transform: scale(1.1);transition: all;transition-duration: 1s;transition-delay: 0s;}
.abcdef
{height: 400px;background-image: url(Images/testimonial_bg.jpg);background-repeat: no-repeat;background-size: cover;}